<h3>Hora actual: <%= new Date() %> </h3> 
<!--<form method='post' action='/crearPersona' >
	Su nombre: 
	<input type='text' name='nombre' />
	<input type='submit' value='Enviar' />
</form>-->
<form method='post' action='/crearPersona' >
	Su nombre: 
	<input type='text' name='nombre' /><br/>
  Edad: 
  <input type='number' name='edad' /><br/>
  Retirado: 
  <input type='checkbox' name='retirado' /><br/>
	<input type='submit' value='Enviar' />
</form>
