<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Página inicial</title>
</head>
<body>
    <h2>Página servida mediante sendfile()</h2>
    <article>
        El método sendfile() permite enviar ficheros
        de distintos tipos MIME. Esto incluye las extensiones
        de los distintos motores de vistas: HBS, EJS, Jade, etc.
        <p>
            También es posible enviar ficheros de otros formatos
            indicando el tipo a enviar (PDF, CSV, etc.)
        </p>
    </article>
</body>
</html>